<div class="ion-page">
  <ion-content class="ion-padding">
    <p>You can interact with the +/- buttons until the sheet is fully expanded.</p>
    <div class="counter__section">
      <ion-button (click)="decrement()">-</ion-button>
      <p>{{ count }}</p>
      <ion-button (click)="increment()">+</ion-button>
    </div>
    <ion-button (click)="openModal()">Open Modal</ion-button>
    <ion-modal [trigger]="''"></ion-modal>
    <h1>{{ 'HELLO' | translate }}</h1>
    <p>{{ 'WELCOME' | translate }}</p>
    <ion-button (click)="changeLanguage('hy')">Change to Spanish</ion-button>
    <ion-button (click)="changeLanguage('en')">Change to English</ion-button>
  </ion-content>
</div>


<ion-app>
<!--  <ion-menu contentId="main-content">-->
<!--    <ion-header>-->
<!--      <ion-toolbar color="tertiary">-->
<!--        <ion-title>Menu Content</ion-title>-->
<!--      </ion-toolbar>-->
<!--    </ion-header>-->
<!--    <ion-content class="ion-padding">This is the menu content.</ion-content>-->
<!--  </ion-menu>-->
</ion-app>
