<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
    <ion-item>
      <ion-label position="floating">First name</ion-label>
      <ion-input formControlName="first_name" type="email"></ion-input>
    </ion-item>
    <ion-item *ngIf="registerForm.get('first_name').invalid && registerForm.get('first_name').touched">
      <ion-note color="danger">First name is required</ion-note>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Last name</ion-label>
      <ion-input formControlName="last_name" type="email"></ion-input>
    </ion-item>
    <ion-item *ngIf="registerForm.get('last_name').invalid && registerForm.get('last_name').touched">
      <ion-note color="danger">Last name is required</ion-note>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input formControlName="username" type="email"></ion-input>
    </ion-item>
    <ion-item *ngIf="registerForm.get('username').invalid && registerForm.get('username').touched">
      <ion-note color="danger">Email is required</ion-note>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
    </ion-item>
    <ion-item *ngIf="registerForm.get('password').invalid && registerForm.get('password').touched">
      <ion-note color="danger">Password is required</ion-note>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Confirm Password</ion-label>
      <ion-input formControlName="confirmPassword" type="password"></ion-input>
    </ion-item>
    <ion-item *ngIf="registerForm.get('confirmPassword').invalid && registerForm.get('confirmPassword').touched">
      <ion-note color="danger">Passwords must match</ion-note>
    </ion-item>

    <ion-button expand="full" type="submit" [disabled]="registerForm.invalid">Register</ion-button>
  </form>

  <ion-button expand="full" routerLink="../sign-in">Login</ion-button>
</ion-content>
