:host {
  ::ng-deep .modal-wrapper {
    border-top-left-radius: 36px;
    border-top-right-radius: 16px;
    overflow: hidden; /* Ensure the content does not overflow the rounded corners */
  }

  ::ng-deep ion-content {
    --border-radius-top-left: 36px;
    --border-radius-top-right: 16px;
    --background: white;
  }

  ::ng-deep ion-header {
    border-top-left-radius: 36px;
    border-top-right-radius: 16px;
  }
}
