/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
//@import "@ionic/angular/css/palettes/dark.system.css";

:root {
  --ion-color-primary: #e05522;
  --ion-color-secondary: #eb6434;
  --ion-color-secondary-rgb: 0, 102, 0;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #005a00;
  --ion-color-secondary-tint: #1a751a;
  --ion-color-primary-shade: #eb6434;
  --ion-color-primary-tint: #eb6434;
  --ion-background-color: #F2EDE7;
  --ion-background-color-rgb: 242, 237, 231;
}

.ion-padding {
  --padding-start: var(--ion-padding, 0);
  --padding-end: var(--ion-padding, 0);
  --padding-top: var(--ion-padding, 16px);
  --padding-bottom: var(--ion-padding, 16px);
  padding-inline-start: var(--ion-padding, 0);
  padding-inline-end: var(--ion-padding, 0);
  padding-top: var(--ion-padding, 16px);
  padding-bottom: var(--ion-padding, 16px);
}

ion-card {
  margin-inline-start: 0;
  margin-top: 0;
  margin-bottom: 5px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);;

  ion-card-header {
    padding: 10px;
  }
}

.inner-scroll {
  padding-inline-start: 0 !important;
  padding-inline-end: 0 !important;
}

.px-8 {
  padding: 0 8px;
}

.favorite-btn {
  display: flex;
  justify-content: center;
  height: 35px;
  width: 30px;
  position: absolute;
  top: 0;
  right: 0;
  border-top-right-radius: 5px;

  ion-icon {
    margin-top: 2px;
    font-size: 25px;

    &[name = heart], &[name = heart-outline] {
      color: #e05522;
    }
  }
}
